*.orig
*.rej
*#
*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
aclocal.m4
autom4te.cache
build-stamp
config
config.log
config.guess
config.status
config.sub
configure
debian/files
debian/tmp
debian/vyatta-cfg-system
debian/vyatta-cfg-system-extra
debian/vyatta-cfg-system.postinst
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/*-yang
INSTALL
Makefile.in
Makefile
doc/vyatta-config.7
doc/vyatta-config.7.html
tests/*.log
tests/*.trs
